<!-- <ion-col size="10"> -->
<span class="divider line">or</span>
<!-- </ion-col> -->
<ion-row
    nowrap
    class="ion-justify-content-center ion-padding-bottom"
>
    <ion-fab-button
        size="small"
        (click)="loginFacebook()"
    >
        <ion-icon name="logo-facebook"></ion-icon>
    </ion-fab-button>

    <ion-fab-button
        size="small"
        fill="outline"
        color="danger"
        routerLink="/home"
    >
        <ion-icon name="logo-google"></ion-icon>
    </ion-fab-button>

</ion-row>
